@{
    ViewData["Title"] = "Resume";
}

<style>
    .margin35Top {
        margin-top: 35px;
    }
    .mainSections{
        font-family:Calibri;
        font-size:12pt;
        font-weight: bold;
    }
    .subSections {
        font-family: Calibri;
        font-size: 11pt;
        font-weight: bold;
    }
    .subSectionsDuration {
        font-family: Calibri;
        font-size: 11pt;
        font-weight: normal;
    }
    .bulletsFormat {
        font-family: Calibri;
        font-size: 10.5pt;
        font-weight: normal;
    }
    .boldbullet {
        font-family: Calibri;
        font-size: 10.5pt;
        font-weight: bold;
    }
</style>

<div class="container margin35Top">
    <div id="heading" class="text-center">
        <h3>Archana Kishore</h3>
        <p>(201) 724-8678 | archanakishore0611@outlook.com | www.linkedin.com/in/archanakishore</p>
    </div>
    <div id="bodyResume" class="margin35Top">
        <div class="row mainSections">WORK EXPERIENCE</div>
        <div class="row">
            <div class="col-md-9 subSections">
                <p>Graduate Teaching Assistant, Baruch College</p>
            </div>
            <div class="col-md-3 subSectionsDuration">
                <p>Sep 2017 – Present</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 bulletsFormat">
                <ul>
                    <li>Conduct workshops with self-prepared material deck for undergraduate and graduate students on SQL and Tableau.</li>
                    <li>Provide technical assistance and tutoring services for students in SQL, Tableau, HTML and CSS in the Information Systems laboratory.</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9 subSections">
                <p>Technology Analyst, Infosys Limited, India</p>
            </div>
            <div class="col-md-3 subSectionsDuration">
                <p>Aug 2013 – Dec 2015</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 bulletsFormat">
                <ul>
                    <li>
                        Migrated the content management system of a leading paper company in the US from Lotus Notes to SharePoint.
                        This migration involved designing and building of HTML pages, workflows and SQL integration, providing customer with an easy to use web portal for content management.
                    </li>
                    <li>Collaborated with the clients to understand requirements, prioritize objectives, implement solutions and suggest work improvements.</li>
                    <li>Built database, ensured data quality & data integrity, for a real-estate client, using SQL that improved load time by 8 seconds.</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9 subSections">
                <p>Senior Systems Engineer, Infosys Limited, India</p>
            </div>
            <div class="col-md-3 subSectionsDuration">
                <p>June 2009 – July 2013</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 bulletsFormat">
                <ul>
                    <li>Created custom SharePoint and .Net (C#)workflows to publish monthly client newsletters.</li>
                    <li>
                        Developed a tool using SharePoint object model which could automate site creation based on selected themes and permissions.
                        This facilitated the users to create websites efficiently on the go.
                    </li>
                </ul>
            </div>
        </div>

        <div class="row mainSections">EDUCATION</div>
        <div class="row">
            <div class="col-md-9 subSections">
                <p>Baruch College, City University of New York, New York</p>
            </div>
            <div class="col-md-3 subSectionsDuration">
                <p>Dec 2018</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 bulletsFormat">
                <p>M.S. in Information Systems (Data Analytics)</p>
            </div>
            <div class="col-md-3 subSectionsDuration">
                <p>GPA 3.82/4</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9 subSections">
                <p>Jawaharlal Nehru Technological University, Hyderabad, India</p>
            </div>
            <div class="col-md-3 subSectionsDuration">
                <p>May 2009</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 bulletsFormat">
                <p>Bachelor of Technology in Computer Science & Engineering</p>
            </div>
            <div class="col-md-3 subSectionsDuration">
                <p>Distinction 3.7</p>
            </div>
        </div>

        <div class="row mainSections">PROJECT EXPERIENCE</div>
        <div class="row">
            <div class="col-md-12 subSections">
                <p>Business Intelligence Analyst, analyzing potential customer segment for an insurance firm using Rapid Miner</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 bulletsFormat">
                <ul>
                    <li>Developed prediction models on customer response to campaign to gauge potential customers. </li>
                    <li>Decision Tree model built using Rapid Miner predicted with 90% accuracy about the customers who are to be targeted.</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 subSections">
                <p>Data Visualization Developer, NYC 311 data analysis, QVC Shipping Data Analysis</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 bulletsFormat">
                <ul>
                    <li>
                        Data cleaning and preparation followed by Exploratory Data Analysis of more than half million 311 call records to analyze
                        the complaints to Department of Transportation for various boroughs of New York City using Tableau.
                    </li>
                    <li>Provided Tableau what-if analysis of the data for QVC shipping data and strategies for business improvement.</li>
                    <li>Enable data-driven decisions, by identifying metrics and create forecasts to develop recommendations for strategic delivery of city services.</li>

                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 subSections">
                <p>Python Interactive Web Data Visualization using Bokeh, IMDB movies (2006 - 2016) analysis</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 bulletsFormat">
                <ul>
                    <li>Developed interactive bokeh server visualizations, to provide insights into the revenue made by the top directors and movies in a span of ten years.</li>
                    <li>Combined datasets to drill into top grossing movies to gain deeper insights like male and female voice distribution.</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 subSections">
                <p> Digital Analyst, Digital Media property development, marketing and analytics</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 bulletsFormat">
                <ul>
                    <li>Built a media website ‘Wise Wines’, to educate users about the terroir and suggest best places in NYC for each wine.</li>
                    <li>Tracked and analyzed web traffic using Google Analytics, defined A/B testing and KPIs for customer retention.</li>
                </ul>
            </div>
        </div>

        <div class="row mainSections">SKILLS </div>
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li><span class="boldbullet">Analytical and Design Tools:</span><span class="bulletsFormat">Tableau, Rapid Mainer, Microsoft Office, SharePoint, Balsamiq, Visio, PowerPoint, Lucid Charts, UserTesting.com, MailChimp, A/B Testing, JIRA.</span></li>
                    <li><span class="boldbullet">Programming languages and Database:</span><span class="bulletsFormat">C#, vb.net, Python, JavaScript, jQuery, SQL Server, MS Access, HTML, CSS</span></li>
                    <li><span class="boldbullet">Functional skills:</span><span class="bulletsFormat">Data Modeling/Analysis, Business Intelligence, Process Improvement, Competitive Analysis, Agile Development, Requirements Analysis.</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>

