@{
    ViewData["Title"] = "Projects";
}

<style>
    .img-size{
        width: 350px;
        height: 350px;
        border: 1px groove #dddddd;
    }

    .margin35Top {
        margin-top: 35px
    }

    .margin20Top {
        margin-top: 20px
    }

    .projectLinks {
        color:dodgerblue;
        font-family: Calibri;
        font-size: 24px;
        font-weight: bold;
    }

</style>

<div id="projMain" class="container container-fluid margin35Top">
    <div class="row margin35Top">
        <div class="col-md-4 margin35Top">
            <img class="img-size" src="~/images/IMDBVisualization.png" alt="QVC Analysis" />
        </div>
        <div class="col-md-8 margin35Top">
            <div>
                <h4>IMDB Movies Interactive Visualization</h4>
                <p>
                    After finding interesting questions, the data scientist must be able to answer them! Finding these answers may require a knowledge of statistics,
                    machine learning, and data mining tools.If data mining tools are unavailable, then the data scientist might be better prepared by having the skills to
                    learn these tools quickly.
                </p>
                <p>
                    After finding interesting questions, the data scientist must be able to answer them! Finding these answers may require a knowledge of statistics,
                    machine learning, and data mining tools.If data mining tools are unavailable, then the data scientist might be better prepared by having the skills to
                    learn these tools quickly.After finding interesting questions, the data scientist must be able to answer them! Finding these answers may require a knowledge of statistics,
                    machine learning, and data mining tools.
                </p>
                <a href="#" id="videoLink" class="btn btn-default" data-toggle="modal" data-target="#videoModal" data-theVideo="https://www.youtube.com/watch?v=-BVmYogRNf0">View Project Demo</a>
                <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <div>
                                    <iframe width="500" height="350" src=""></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin20Top">
        <div class="col-md-4 margin35Top">
            <img class="img-size" src="~/images/NYC311.png" alt="NYC 311 Data Analysis" />
        </div>
        <div class="col-md-8 margin35Top">
            <div>
                <h4>NYC 311 Data Analysis</h4>
                <p>
                    After finding interesting questions, the data scientist must be able to answer them! Finding these answers may require a knowledge of statistics,
                    machine learning, and data mining tools.If data mining tools are unavailable, then the data scientist might be better prepared by having the skills to
                    learn these tools quickly.
                </p>
                <p>
                    After finding interesting questions, the data scientist must be able to answer them! Finding these answers may require a knowledge of statistics,
                    machine learning, and data mining tools.If data mining tools are unavailable, then the data scientist might be better prepared by having the skills to
                    learn these tools quickly.After finding interesting questions, the data scientist must be able to answer them! Finding these answers may require a knowledge of statistics,
                    machine learning, and data mining tools.
                </p>
                <a class="projectLinks" href="~/artifacts/NYC_311_ServiceRequests_Analysis.pdf">View Project Analysis</a>
            </div>
        </div>
    </div>
    <div class="row margin20Top">
        <div class="col-md-4 margin35Top">
            <img class="img-size" src="~/images/wiserwines.png" alt="Wiser Wines" />
        </div>
        <div class="col-md-8 margin35Top">
            <div>
                <h4>Wiser Wines - DIgital Media Marketing Trends Analysis</h4>
                <p>
                    After finding interesting questions, the data scientist must be able to answer them! Finding these answers may require a knowledge of statistics,
                    machine learning, and data mining tools.If data mining tools are unavailable, then the data scientist might be better prepared by having the skills to
                    learn these tools quickly.
                </p>
                <p>
                    After finding interesting questions, the data scientist must be able to answer them! Finding these answers may require a knowledge of statistics,
                    machine learning, and data mining tools.If data mining tools are unavailable, then the data scientist might be better prepared by having the skills to
                    learn these tools quickly.After finding interesting questions, the data scientist must be able to answer them! Finding these answers may require a knowledge of statistics,
                    machine learning, and data mining tools.
                </p>
                <a class="projectLinks" href="https://wiserwines.wixsite.com/wiser-wines">View Wiser Wines Website</a>
            </div>
        </div>
    </div>
    <div class="row margin20Top">
        <div class="col-md-4 margin35Top">
            <img class="img-size" src="~/images/QVCImage.png" alt="QVC Analysis" />
        </div>
        <div class="col-md-8 margin35Top">
            <div>
                <h4>QVC Shipping Data Analysis</h4>
                <p>
                    After finding interesting questions, the data scientist must be able to answer them! Finding these answers may require a knowledge of statistics,
                    machine learning, and data mining tools.If data mining tools are unavailable, then the data scientist might be better prepared by having the skills to
                    learn these tools quickly.
                </p>
                <p>
                    After finding interesting questions, the data scientist must be able to answer them! Finding these answers may require a knowledge of statistics,
                    machine learning, and data mining tools.If data mining tools are unavailable, then the data scientist might be better prepared by having the skills to
                    learn these tools quickly.After finding interesting questions, the data scientist must be able to answer them! Finding these answers may require a knowledge of statistics,
                    machine learning, and data mining tools.
                </p>
                <a class="projectLinks" href="~/artifacts/QVC Data Analysis.pdf">View Project Analysis</a>
            </div>
        </div>
    </div>
</div>
